body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 20px;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.calculator__output {
  flex-basis: calc(100% / 4 * 3);
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  font-size: 1.5rem;
  align-items: center;
  padding: 5px 20px;
}

.calculator__input {
  flex-basis: calc(100% / 4);
  font-size: 1.5rem;
  border: 1px solid silver;
  justify-content: center;
  align-items: center;
  background-color: rgba(205, 245, 245, 0.6);
}

.calculator__clear {
  flex-basis: calc(100% / 4);
  font-size: 1.5rem;
  background-color: rgba(233, 83, 14, 0.6);
}

.calculator__operator {
  flex-basis: calc(100% / 4);
  font-size: 1.5rem;
  background-color: rgba(245, 167, 23, 0.6);
}

.calculator__result {
  flex-basis: calc(100% / 4);
  font-size: 1.5rem;
  background-color: rgba(113, 223, 41, 0.6);
}
